# Lavender Messenger

# --- server configuration ---
# 192.168.1.135:50051
SERVER_ADDRESS=192.168.1.135:50051

# --- security ---
# Ключ ровно 32 символа для AES-256
CHAT_SECRET_KEY=passphrasewhichneedstobe32bytes!

# --- database (Supabase) ---
# ВАЖНО: Используем Pooler (порт 6543) и добавляем sslmode=require
# DATABASE_URL=postgres://postgres:1cbvCMVccnTwpAQ1@://supabase.com

# local database
DATABASE_URL=postgres://paveld:mypass@localhost:5432/chat_db?sslmode=disable

# --- http servers ---
HTTP_PORT=8082
APK_PORT=8081
APK_DIR=/home/ferz/LavenderMessengerAndroid
